.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
    margin: 1rem 0;
}

.form-control input,
.form-control input:focus {
    border: 1px solid rgb(147, 50, 172);
    border-radius: 1.5rem;
    font: inherit;
    outline: none;
}

button {
    font: inherit;
    border: 1px solid rgb(147, 50, 172);
    border-radius: 1.5rem;
    color: rgb(76, 235, 221);
    background: white;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: rgb(147, 50, 172);
}